@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --jersey-font: "Jersey 10", sans-serif;
    --pixelify-font: "Pixelify Sans", sans-serif;
    --jaquard-font: "Jacquard 12", system-ui;
    --marron-escritura: #301a00;
}

body{
    /* background-image: url(../img/fondo-papyrus.png);
    background-size: cover;
    background-position: center; */
    background-color: black;
    font-family: var(--pixelify-font);
    color: var(--marron-escritura);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 18px;
}

/* Canvas -------------------------------------------------------*/

#juego{
    position: relative;
    width: 65vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px 10px rgb(0, 0, 0);
}

canvas {
    display: block;
    border-radius: 4px;
    width: 65vw;
    height: auto;
}

#pantalla-weather{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: auto;
    background-repeat: repeat;
    background-position: center;
    z-index: 1;
}

/* Animaciones weather */

@keyframes nubes{
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -100%;
    }
}

@keyframes lluvia{
    0% {
        background-position-x: 0;
        background-position-y: 0;
    }
    100% {
        background-position-x: -100%; /* 100% -> Conseguir efecto de animación seamless */
        background-position-y: 100%; 
    }
}

/* Panel tareas --------------------------------------------------*/

/* Ventana de tareas */

#ventana-tareas {
    display: none;
    position: absolute;
    font-size: 1.6rem;
    width: 75%;
    height: 90%;
    padding: 1rem;
    background-image: url(../img/fondo-pergamino.png);
    background-size: cover;
    background-position: center;
    border: 7px ridge #b8823b;
    border-radius: 20px;
    box-shadow: -2px 0 20px rgb(53, 37, 0);
    z-index: 3;
    overflow-y: auto;
    justify-items: center;
    scrollbar-width: none;  /* Esconde la barra en Firefox */
}

#ventana-tareas::-webkit-scrollbar {
    display: none;  /* Esconde la barra en Chrome, Safari, etc. */
}

h1{
    font-family: var(--jaquard-font);
    padding: 1.5rem 0 1rem 0;
    font-size: 3.6rem;
}

/* Input de Tareas */

#insertar-tareas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5rem;
}

#caja-input{
    background-color: #b8823b8f;
    margin: 1rem;
    color: var(--marron-escritura);
    border-radius: 20px;
    border: 3px inset #9a6928;
    line-height: 2rem;
    font-family: var(--pixelify-font);
    font-size: 1.6rem;
    width: 27vw;
    resize: none;
    padding: 0 0.5rem;
    scrollbar-width: none;  /* Esconde la barra en Firefox */
}

#caja-input::-webkit-scrollbar {
    display: none;  /* Esconde la barra en Chrome, Safari, etc. */
}

#caja-input:focus{
    background-color: #8a5b1e8f;
}

#boton-introducir{
    font-family: var(--pixelify-font);
    font-size: 2rem;
    height: 3rem;
    padding: 0 0.6rem;
    margin: 0;
    border: 5px outset #7b4f11e3;
    border-radius: 15px;
    background-color: #7b4f11e3;
    color: var(--marron-escritura);
}

#boton-introducir:hover{
    background-color: #603e0ee3;
    transform: scale(0.95);
}

/* Lista de tareas */
#lista-tareas{
    list-style: none;
    width: 70%;
    line-height: 1.6;
}

ul li::marker {
    content: "\1F666   "; 
    font-size: 30px; 
}

.boton-conseguido{
    font-family: var(--pixelify-font);
    font-size: 1.5rem;
    height: 3rem;
    padding: 0 0.6rem;
    margin: 0 0 0 1rem;
    border: 5px outset #7b4f11e3;
    border-radius: 50px;
    background-color: #7b4f11e3;
    color: var(--marron-escritura);
    cursor: pointer;
}

.boton-conseguido:hover{
    background-color: #366900e3;
    border-color: #366900e3;
}

.boton-eliminar{
    font-family: var(--pixelify-font);
    font-size: 1.5rem;
    height: 3rem;
    padding: 0 0.6rem;
    margin: 0 0 0 1rem;
    border: 5px outset #a06819e3;
    border-radius: 15px;
    background-color: #a06819e3;
    color: var(--marron-escritura);
    cursor: pointer;
}

.boton-eliminar:hover{
    background-color: #603e0ee3;
}


/* Contador Plantas Medicinales */

#puntos{
    position: absolute;
    top: 10px;
    left: 9px;
    font-size: 1.4rem;
}

#puntos figure{
    width: 9rem;
    height: auto;
    display: flex;
    flex-direction: row;
}

#puntos figure img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

#puntos figure figcaption{
    padding-top: 1rem;
}

/* Botón de cierre de ventana de tareas */

#cerrar-ventana {
    position: absolute;
    top: 5px;
    right: 25px;
    font-weight: bolder;
    background: none;
    border: none;
    font-size: 3.3rem;
    cursor: pointer;
    color: #301a00;
}

#cerrar-ventana:hover {
    transform-origin: center; 
    transform: scale(1.2);
}


/* Botón MENU - BACKPACK*/

#boton-backpack{
    position: absolute;
    background-image: url(../img/mochila.png);
    background-color: transparent;
    border: none;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center; 
    width: 100px; 
    height: 140px;
    top: 20px;
    right: 22px;
    cursor: pointer;
    z-index: 2;
    transition: background-image 0.1s ease, opacity 0.1s ease;
}

#boton-backpack:hover{
    transform-origin: center; 
    transform: scale(1.15);
}

/* #puntos img{
    background-color: transparent;
} */


/* MEDIA QUERIES ---------------------------------------*/

@media(min-width: 2100px) {

    /* Font sizes */
    #puntos{
        font-size: 3rem;
    }

    #ventana-tareas, #caja-input {
        font-size: 3.6rem;
    }

    h1{
        font-size: 5.6rem;
    }

    /* #boton-introducir{
        font-size: 5rem;
    } */

    /* ul li::marker {
        font-size: 70px; 
    } */

    .boton-conseguido, .boton-eliminar{
        font-size: 3.5rem;
    }

    #cerrar-ventana {
        font-size: 6.3rem;
    }

    /* Botones */
    #boton-backpack{
        width: 180px; 
        height: 252px;
        top: 40px;
        right: 44px;
    }

    /* Canvas -------------------------------------------------------*/

    #juego{
        width: 95vw;
    }

    canvas {
        width: 95vw;
    }

}


@media(max-width: 1550px) {

    /* Font sizes */
    #puntos{
        font-size: 1.4rem;
    }

    #ventana-tareas,  #caja-input{
        font-size: 1.6rem;
    }

    h1{
        font-size: 3.5rem;
    }

    .boton-conseguido{
        font-size: 1.4rem;
    }

    .boton-eliminar{
        font-size: 1.3rem;
    }

    #cerrar-ventana {
        font-size: 3.1rem;
    }

    /* Botones */
    #boton-backpack{
        width: 90px; 
        height: 120px;
    }

    /* Canvas -------------------------------------------------------*/

    #juego{
        width: 80vw;
    }

    canvas {
        width: 80vw;
    }

}

@media(max-width: 1440px) {

    /* Canvas -------------------------------------------------------*/

    #juego{
        width: 95vw;
    }

    canvas {
        width: 95vw;
    }

    /* Ancho de caja input */
    #caja-input{
        width: 32vw;
    }

}

@media(max-width: 1200px) {

    /* Font sizes y medidas de botones*/
    #puntos, .boton-eliminar{
        font-size: 1.2rem;
    }

    #ventana-tareas,  #caja-input{
        font-size: 1.3rem;
    }

    h1{
        font-size: 3rem;
    }

    #cerrar-ventana {
        font-size: 2rem;
    }

    #boton-backpack{
        width: 70px; 
        height: 100px;
    }

    #lista-tareas{
        width: 75%;
        line-height: 1.5;
    }
    
    .boton-conseguido{
        font-size: 1.5rem;
        height: 2.5rem;
    }

    /* Ancho de la Ventana de tareas  */
    #ventana-tareas {
        width: 85%;
    }
}

@media(max-width: 1024px) {

    /* Canvas -------------------------------------------------------*/

    #juego{
        width: 100%;
    }

    canvas {
        width: 100%;
    }

    /* Font sizes y medidas de botones*/

    #caja-input{
        height: 2.4rem;
    }

    #cerrar-ventana {
        font-size: 2.5rem;
    }

    #lista-tareas{
        font-size: 1.4rem;
    }

    /* Ancho de la Ventana de tareas  */
    #ventana-tareas {
        width: 95%;
        height: 95%;
    }

    /* Ancho del input de tareas */

    h1{
        padding: 0.6rem;
    }

    #insertar-tareas{
        width: 55%;
    }

    #caja-input{
        width: 40vw;
    }
}

@media(max-width: 768px) {

    /* Font sizes*/

    #caja-input{
        height: 2rem;
    }

    #cerrar-ventana {
        font-size: 2.3rem;
    }

    #lista-tareas{
        font-size: 1.3rem;
    }

    /* Ancho de la Ventana de tareas  */
    #ventana-tareas {
        padding: 0.5rem;
    }

    /* Ancho del input de tareas */

    h1{
        padding: 0.7rem 0 0.3rem 0;
        font-size: 2.7rem;
    }

    #insertar-tareas{
        width: 50%;
    }

    #caja-input{
        width: 35vw;
        font-size: 1.3rem;
    }

    /* Medidas de botones */ /* Por hacer !!!!!!!!! */
}

/* MOBILE - HORIZONTAL ------------------------------------------------ */

@media screen and (orientation: landscape) and (max-height: 425px) {
  /* Solo con (max-height: 425px) bastaría*/
    /* Font sizes*/

    #caja-input{
        height: 2.2rem;
        width: 40vw;
        font-size: 1.3rem;
    }

    #cerrar-ventana {
        font-size: 2rem;
    }

    #lista-tareas{
        font-size: 1.3rem;
    }

    /* Ancho de la Ventana de tareas  */
    #ventana-tareas {
        padding: 0.3rem;
    }

    /* Ancho del input de tareas */

    h1{
        font-size: 2.5rem;
        padding: 0.8rem 0 0.1rem 0;
        padding-bottom: 0.1rem;
    }

    #insertar-tareas{
        width: 55%;
        padding-bottom: 0.5rem;
    }

    /* Medidas sección puntos */
    #puntos{
        top: 5px;
        left: 3px;
        font-size: 1.1rem;
    }
    #puntos figure{
        width: 7rem;
    }

    /* Medidas de botones */ 
    #boton-introducir{
        font-size: 1.5rem;
        font-weight: bold;
        height: 2.5rem;
        padding: 0 0.5rem;
    }

    .boton-conseguido{
        font-size: 1rem;
        height: 2.5rem;
    }
}